@model CaseXL.Models.ChangePasswordModel
@{
    ViewBag.Title = "Reset Password";
}
@Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Change Password</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
                @Html.HiddenFor(m => m.PwdKey)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)

                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.PwdToken)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.PwdToken)

                @Html.ValidationMessageFor(m => m.PwdToken)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <p>
                <input type="submit" class="k-button actionButton" value="Reset" />
            </p>
        </fieldset>
    </div>
}